.action-button {
  width: 80px;
  height: 80px;

  font-family: "Penguin";
  display: flex;

  text-align: center;
  justify-content: center;
  align-items: center;

  background-repeat: round;
}

.button-text {
  font-family: "Penguin" !important;
  color: white;
  font-size: 30px;
  user-select: none;
  padding-left: 4px;
  padding-right: 4px;
}

.hov {
  padding-bottom: 2px;
  padding-left: 2px;
}

::ng-deep {
  .help-modal-back {
    background-image: url('/assets/greet-board.png');
    background-repeat: round;
  }
}
