.wrapper {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  -o-object-fit: contain;
  object-fit: contain;
  background-repeat: round;
  background-image: url("/assets/test-backgound.png");
}

.test-table {
  position: relative;
}

.title-question {
  font-size: 20px;
  color: white;
}

.progress-bar-container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  top: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.progress-bar-center {
  width: 90%;
}

.progress-bar-line-container {
  width: 100%;
  height: 50px;
  position: relative;

  .progress-bar-frame {
    position: absolute;
    background-image: url("/assets/progress-bar-transparent.png");
    width: 100%;
    height: 100%;
    background-repeat: round;
    z-index: 20;
  }
  .progress-bar-line {
    position: absolute;

    width: auto;
    height: auto;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;

    z-index: 19;

    .progress-bar-line-image {
      background-image: url("/assets/progress-bar-line-template.png");
      width: 100%;
      height: 100%;

      background-repeat: round;
    }
  }
}

.test-options {
  background-image: url(/assets/greet-board.png);
  background-repeat: round;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 2%;
  height: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  ul {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
    margin-left: 1%;

    li {
      display: flex;
      --padding-top: 2.3%;
      height: auto;
      flex-direction: column;
      justify-self: center;
    }
  }

  .option-name {
    color: white;
    font-size: 24px;
    height: 50%;
    font-family: initial !important;
  }
}

.navigation-buttons {
  position: relative;
  height: 150px;
  top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*margin-left: auto;
  margin-right: auto;*/
  /*left: 10%;
  right: 10%;*/
}

.question-card {
  background-color: transparent;
}

.navigation {
  display: flex;
  .navigation-prev {
    margin-right: auto;
  }

  .navigation-next {
    margin-left: auto;
  }
}
.dubna {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 20px;
  top: 10%;
  background-image: url('/assets/logo2.png');
  background-repeat: round;

}

.question {
    margin-bottom: 1%;
}

@media screen and (max-width: 770px){
  .test-options {
    padding-top: 6%;
  }
    .navigation-buttons{
        margin-left: 10%;
        position: relative;
        flex-direction: row;
        top: 5%;
        height: 100px;
    }
    .title-question{
        font-size: 2px;
        text-align: center;
    }
    .progress-bar-line-image{
        height: 50%;
        width: 50%;
    }
    .progress-bar-frame{
        height: 50%;
        width: 50%;
    }
    .question-card{
        visibility: hidden;
    }
}
@media screen and (max-width: 1510px){
  .dubna {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
