.background {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: linear-gradient(
    29.37deg,
    #ff7c68 -2.78%,
    #e07064 8.98%,
    #7c4858 47.89%,
    #3d3050 75.03%,
    #24264d 87.7%
  );
}

.lines-1 {
  position: absolute;
  left: 70.74%;
  right: 29.12%;
  top: 50.52%;
  bottom: 49.23%;

  background: #c7afea;
}
.lines-2 {
  position: absolute;
  left: 69.41%;
  right: 30.45%;
  top: 63.64%;
  bottom: 36.12%;

  background: #c7afea;
}
.lines-3 {
  position: absolute;
  left: 63.73%;
  right: 36.13%;
  top: 70.04%;
  bottom: 29.72%;

  background: #c7afea;
}
.lines-4 {
  position: absolute;
  left: 59.41%;
  right: 40.45%;
  top: 65.04%;
  bottom: 34.71%;

  background: #935eea;
}
.lines-5 {
  position: absolute;
  left: 56.17%;
  right: 43.7%;
  top: 62.27%;
  bottom: 37.49%;

  background: #935eea;
}

.lines-6 {
  position: absolute;
  left: 52.14%;
  right: 47.72%;
  top: 56.69%;
  bottom: 43.06%;

  background: #a155c0;
}
.lines7 {
  position: absolute;
  left: 47.99%;
  right: 51.87%;
  top: 47.57%;
  bottom: 52.18%;

  background: #a155c0;
}
.lines8 {
  position: absolute;
  left: 56.1%;
  right: 43.77%;
  top: 43.4%;
  bottom: 56.36%;

  background: #a155c0;
}
.lines9 {
  position: absolute;
  left: 60.46%;
  right: 39.41%;
  top: 64.92%;
  bottom: 34.83%;

  background: #a155c0;
}
.lines10 {
  position: absolute;
  left: 61.03%;
  right: 38.84%;
  top: 42.38%;
  bottom: 57.37%;

  background: #a155c0;
}
.lines11 {
  position: absolute;
  left: 66.48%;
  right: 33.39%;
  top: 38.8%;
  bottom: 60.95%;

  background: #935eea;
}
.lines12 {
  position: absolute;
  left: 62.89%;
  right: 36.97%;
  top: 61.22%;
  bottom: 38.53%;

  background: #935eea;
}
.lines13 {
  position: absolute;
  left: 45.37%;
  right: 54.49%;
  top: 55.38%;
  bottom: 44.38%;

  background: #935eea;
}
.lines14 {
  position: absolute;
  left: 76.27%;
  right: 23.59%;
  top: 37.71%;
  bottom: 62.04%;

  background: #935eea;
}
.lines15 {
  position: absolute;
  left: 48.99%;
  right: 50.87%;
  top: 61.76%;
  bottom: 38%;

  background: #935eea;
}
.lines16 {
  position: absolute;
  left: 81.01%;
  right: 18.85%;
  top: 36.14%;
  bottom: 63.62%;

  background: #935eea;
}
.lines17 {
  position: absolute;
  left: 49.89%;
  right: 49.97%;
  top: 46.71%;
  bottom: 53.04%;

  background: #935eea;
}
.lines18 {
  position: absolute;
  left: 41.39%;
  right: 58.47%;
  top: 60.99%;
  bottom: 38.77%;

  background: #935eea;
}
.lines19 {
  position: absolute;
  left: 42.95%;
  right: 56.91%;
  top: 43.64%;
  bottom: 56.11%;

  background: #935eea;
}
.lines20 {
  position: absolute;
  left: 52.21%;
  right: 47.66%;
  top: 52.25%;
  bottom: 47.51%;

  background: #935eea;
}
.lines21 {
  position: absolute;
  left: 70.64%;
  right: 29.22%;
  top: 47.5%;
  bottom: 52.26%;

  background: #935eea;
}
.lines22 {
  position: absolute;
  left: 56.48%;
  right: 43.38%;
  top: 55.42%;
  bottom: 44.34%;

  background: #e0d4ff;
}
.lines23 {
  position: absolute;
  left: 68.82%;
  right: 31.05%;
  top: 58.99%;
  bottom: 40.77%;

  background: #e0d4ff;
}
.lines24 {
  position: absolute;
  left: 52.61%;
  right: 47.25%;
  top: 43.52%;
  bottom: 56.23%;

  background: #e0d4ff;
}
.lines25 {
  position: absolute;
  left: 41.04%;
  right: 58.82%;
  top: 52.73%;
  bottom: 47.02%;

  background: #e0d4ff;
}
.lines26 {
  position: absolute;
  left: 70.09%;
  right: 29.77%;
  top: 48.07%;
  bottom: 51.69%;

  background: #e0d4ff;
}
.lines27 {
  position: absolute;
  left: 70.57%;
  right: 29.29%;
  top: 58.38%;
  bottom: 41.37%;

  background: #e0d4ff;
}
.lines28 {
  position: absolute;
  left: 70.5%;
  right: 29.36%;
  top: 35.43%;
  bottom: 64.32%;

  background: #e0d4ff;
}
.lines29 {
  position: absolute;
  left: 62.85%;
  right: 37.01%;
  top: 50.4%;
  bottom: 49.36%;

  background: #e0d4ff;
}
.lines30 {
  position: absolute;
  left: 60.53%;
  right: 39.34%;
  top: 57.4%;
  bottom: 42.36%;

  background: #e0d4ff;
}
.lines31 {
  position: absolute;
  left: 53.44%;
  right: 46.42%;
  top: 57.43%;
  bottom: 42.32%;

  background: #e0d4ff;
}
.lines32 {
  position: absolute;
  left: 29.27%;
  right: 70.59%;
  top: 67.94%;
  bottom: 31.82%;

  background: #c7afea;
}
.lines33 {
  position: absolute;
  left: 25.69%;
  right: 74.17%;
  top: 60.37%;
  bottom: 39.39%;

  background: #935eea;
}
.lines34 {
  position: absolute;
  left: 21.71%;
  right: 78.15%;
  top: 60.16%;
  bottom: 39.59%;

  background: #935eea;
}
.lines35 {
  position: absolute;
  left: 17.68%;
  right: 82.18%;
  top: 54.59%;
  bottom: 45.16%;

  background: #a155c0;
}
.lines36 {
  position: absolute;
  left: 13.53%;
  right: 86.33%;
  top: 45.47%;
  bottom: 54.28%;

  background: #a155c0;
}
.lines37 {
  position: absolute;
  left: 21.64%;
  right: 78.22%;
  top: 41.3%;
  bottom: 58.46%;

  background: #a155c0;
}
.lines38 {
  position: absolute;
  left: 27.32%;
  right: 72.54%;
  top: 60.49%;
  bottom: 39.26%;

  background: #a155c0;
}
.lines39 {
  position: absolute;
  left: 26.57%;
  right: 73.29%;
  top: 40.28%;
  bottom: 59.47%;

  background: #a155c0;
}
.lines40 {
  position: absolute;
  left: 10.91%;
  right: 88.95%;
  top: 53.28%;
  bottom: 46.48%;

  background: #935eea;
}
.lines41 {
  position: absolute;
  left: 14.54%;
  right: 85.32%;
  top: 59.66%;
  bottom: 40.1%;

  background: #935eea;
}
.lines42 {
  position: absolute;
  left: 15.44%;
  right: 84.43%;
  top: 44.61%;
  bottom: 55.14%;

  background: #935eea;
}
.lines43 {
  position: absolute;
  left: 6.94%;
  right: 92.93%;
  top: 58.89%;
  bottom: 40.87%;

  background: #935eea;
}
.lines44 {
  position: absolute;
  left: 8.49%;
  right: 91.37%;
  top: 41.54%;
  bottom: 58.21%;

  background: #935eea;
}
.lines45 {
  position: absolute;
  left: 17.75%;
  right: 82.11%;
  top: 50.14%;
  bottom: 49.61%;

  background: #935eea;
}
.lines46 {
  position: absolute;
  left: 12.44%;
  right: 87.42%;
  top: 55.29%;
  bottom: 44.46%;

  background: #e0d4ff;
}
.lines47 {
  position: absolute;
  left: 18.16%;
  right: 81.71%;
  top: 41.42%;
  bottom: 58.33%;

  background: #e0d4ff;
}
.lines48 {
  position: absolute;
  left: 28.4%;
  right: 71.47%;
  top: 48.3%;
  bottom: 51.46%;

  background: #e0d4ff;
}
.lines49 {
  position: absolute;
  left: 26.07%;
  right: 73.79%;
  top: 55.29%;
  bottom: 44.46%;

  background: #e0d4ff;
}
.lines50 {
  position: absolute;
  left: 19.2%;
  right: 80.66%;
  top: 56.19%;
  bottom: 43.56%;

  background: #e0d4ff;
}
.lines51 {
  position: absolute;
  left: 79.73%;
  right: 20.13%;
  top: 56.81%;
  bottom: 42.94%;

  background: #935eea;
}
.lines52 {
  position: absolute;
  left: 69.76%;
  right: 30.1%;
  top: 49.23%;
  bottom: 50.52%;

  background: #935eea;
}
.lines53 {
  position: absolute;
  left: 36.73%;
  right: 63.13%;
  top: 43.12%;
  bottom: 56.64%;

  background: #935eea;
}
.lines54 {
  position: absolute;
  left: 64.93%;
  right: 34.94%;
  top: 58.03%;
  bottom: 41.72%;

  background: #935eea;
}
.lines55 {
  position: absolute;
  left: 71.94%;
  right: 27.92%;
  top: 62.18%;
  bottom: 37.58%;

  background: #935eea;
}
.lines56 {
  position: absolute;
  left: 75.04%;
  right: 24.83%;
  top: 53.08%;
  bottom: 46.68%;

  background: #e0d4ff;
}
.lines57 {
  position: absolute;
  left: 30.25%;
  right: 69.62%;
  top: 16.94%;
  bottom: 82.81%;

  background: #c7afea;
}
.lines58 {
  position: absolute;
  left: 31.58%;
  right: 68.29%;
  top: 30.06%;
  bottom: 69.69%;

  background: #c7afea;
}
.lines59 {
  position: absolute;
  left: 37.26%;
  right: 62.6%;
  top: 36.46%;
  bottom: 63.29%;

  background: #c7afea;
}
.lines60 {
  position: absolute;
  left: 41.58%;
  right: 58.28%;
  top: 31.47%;
  bottom: 68.29%;

  background: #935eea;
}
.lines61 {
  position: absolute;
  left: 44.82%;
  right: 55.04%;
  top: 28.69%;
  bottom: 71.07%;

  background: #935eea;
}
.lines62 {
  position: absolute;
  left: 48.85%;
  right: 51.01%;
  top: 23.12%;
  bottom: 76.64%;

  background: #a155c0;
}
.lines63 {
  position: absolute;
  left: 53%;
  right: 46.86%;
  top: 13.99%;
  bottom: 85.76%;

  background: #a155c0;
}
.lines64 {
  position: absolute;
  left: 44.89%;
  right: 54.97%;
  top: 9.82%;
  bottom: 89.93%;

  background: #a155c0;
}
.lines65 {
  position: absolute;
  left: 40.53%;
  right: 59.33%;
  top: 31.35%;
  bottom: 68.41%;

  background: #a155c0;
}
.lines66 {
  position: absolute;
  left: 39.96%;
  right: 59.9%;
  top: 8.81%;
  bottom: 90.95%;

  background: #a155c0;
}
.lines67 {
  position: absolute;
  left: 34.51%;
  right: 65.35%;
  top: 5.23%;
  bottom: 94.53%;

  background: #935eea;
}
.lines68 {
  position: absolute;
  left: 38.1%;
  right: 61.77%;
  top: 27.65%;
  bottom: 72.11%;

  background: #935eea;
}
.lines69 {
  position: absolute;
  left: 55.62%;
  right: 44.25%;
  top: 21.8%;
  bottom: 77.96%;

  background: #935eea;
}
.lines70 {
  position: absolute;
  left: 24.72%;
  right: 75.14%;
  top: 4.13%;
  bottom: 95.62%;

  background: #935eea;
}
.lines71 {
  position: absolute;
  left: 51.99%;
  right: 47.87%;
  top: 28.18%;
  bottom: 71.57%;

  background: #935eea;
}
.lines72 {
  position: absolute;
  left: 19.98%;
  right: 79.89%;
  top: 2.56%;
  bottom: 97.19%;

  background: #935eea;
}
.lines73 {
  position: absolute;
  left: 51.09%;
  right: 48.77%;
  top: 13.14%;
  bottom: 86.62%;

  background: #935eea;
}
.lines74 {
  position: absolute;
  left: 59.6%;
  right: 40.27%;
  top: 27.41%;
  bottom: 72.35%;

  background: #935eea;
}
.lines75 {
  position: absolute;
  left: 58.04%;
  right: 41.82%;
  top: 10.07%;
  bottom: 89.69%;

  background: #935eea;
}
.lines76 {
  position: absolute;
  left: 48.78%;
  right: 51.08%;
  top: 18.67%;
  bottom: 81.09%;

  background: #935eea;
}
.lines77 {
  position: absolute;
  left: 30.35%;
  right: 69.51%;
  top: 13.92%;
  bottom: 85.83%;

  background: #935eea;
}
.lines78 {
  position: absolute;
  left: 44.51%;
  right: 55.36%;
  top: 21.84%;
  bottom: 77.92%;

  background: #e0d4ff;
}
.lines79 {
  position: absolute;
  left: 32.17%;
  right: 67.69%;
  top: 25.41%;
  bottom: 74.35%;

  background: #e0d4ff;
}
.lines80 {
  position: absolute;
  left: 48.37%;
  right: 51.49%;
  top: 9.95%;
  bottom: 89.81%;

  background: #e0d4ff;
}
.lines81 {
  position: absolute;
  left: 59.95%;
  right: 39.91%;
  top: 19.15%;
  bottom: 80.6%;

  background: #e0d4ff;
}
.lines82 {
  position: absolute;
  left: 30.9%;
  right: 68.96%;
  top: 14.49%;
  bottom: 85.26%;

  background: #e0d4ff;
}
.lines83 {
  position: absolute;
  left: 30.42%;
  right: 69.44%;
  top: 24.81%;
  bottom: 74.95%;

  background: #e0d4ff;
}
.lines84 {
  position: absolute;
  left: 30.49%;
  right: 69.38%;
  top: 1.85%;
  bottom: 97.91%;

  background: #e0d4ff;
}
.lines85 {
  position: absolute;
  left: 38.13%;
  right: 61.73%;
  top: 16.82%;
  bottom: 82.93%;

  background: #e0d4ff;
}
.lines86 {
  position: absolute;
  left: 40.46%;
  right: 59.4%;
  top: 23.82%;
  bottom: 75.94%;

  background: #e0d4ff;
}
.lines87 {
  position: absolute;
  left: 47.55%;
  right: 52.31%;
  top: 23.86%;
  bottom: 75.9%;

  background: #e0d4ff;
}
.lines88 {
  position: absolute;
  left: 71.72%;
  right: 28.15%;
  top: 34.36%;
  bottom: 65.4%;

  background: #c7afea;
}
.lines89 {
  position: absolute;
  left: 75.3%;
  right: 24.57%;
  top: 26.79%;
  bottom: 72.96%;

  background: #935eea;
}
.lines90 {
  position: absolute;
  left: 79.28%;
  right: 20.58%;
  top: 26.59%;
  bottom: 73.17%;

  background: #935eea;
}
.lines91 {
  position: absolute;
  left: 83.31%;
  right: 16.55%;
  top: 21.01%;
  bottom: 78.74%;

  background: #a155c0;
}
.lines92 {
  position: absolute;
  left: 87.46%;
  right: 12.41%;
  top: 11.89%;
  bottom: 87.86%;

  background: #a155c0;
}
.lines93 {
  position: absolute;
  left: 79.35%;
  right: 20.51%;
  top: 7.72%;
  bottom: 92.03%;

  background: #a155c0;
}
.lines94 {
  position: absolute;
  left: 73.66%;
  right: 26.2%;
  top: 26.91%;
  bottom: 72.84%;

  background: #a155c0;
}
.lines95 {
  position: absolute;
  left: 74.42%;
  right: 25.44%;
  top: 6.71%;
  bottom: 93.05%;

  background: #a155c0;
}
.lines96 {
  position: absolute;
  left: 90.07%;
  right: 9.79%;
  top: 19.7%;
  bottom: 80.06%;

  background: #935eea;
}
.lines97 {
  position: absolute;
  left: 86.45%;
  right: 13.41%;
  top: 26.08%;
  bottom: 73.68%;

  background: #935eea;
}
.lines98 {
  position: absolute;
  left: 85.55%;
  right: 14.31%;
  top: 11.04%;
  bottom: 88.72%;

  background: #935eea;
}
.lines99 {
  position: absolute;
  left: 94.05%;
  right: 5.81%;
  top: 25.31%;
  bottom: 74.45%;

  background: #935eea;
}
.lines100 {
  position: absolute;
  left: 92.5%;
  right: 7.37%;
  top: 7.97%;
  bottom: 91.79%;

  background: #935eea;
}
.lines101 {
  position: absolute;
  left: 83.24%;
  right: 16.62%;
  top: 16.57%;
  bottom: 83.19%;

  background: #935eea;
}
.lines102 {
  position: absolute;
  left: 88.55%;
  right: 11.31%;
  top: 21.72%;
  bottom: 78.04%;

  background: #e0d4ff;
}
.lines103 {
  position: absolute;
  left: 82.83%;
  right: 17.03%;
  top: 7.84%;
  bottom: 91.91%;

  background: #e0d4ff;
}
.lines104 {
  position: absolute;
  left: 72.59%;
  right: 27.27%;
  top: 14.72%;
  bottom: 85.03%;

  background: #e0d4ff;
}
.lines105 {
  position: absolute;
  left: 74.92%;
  right: 24.94%;
  top: 21.72%;
  bottom: 78.04%;

  background: #e0d4ff;
}
.lines106 {
  position: absolute;
  left: 81.79%;
  right: 18.08%;
  top: 22.62%;
  bottom: 77.14%;

  background: #e0d4ff;
}
.lines107 {
  position: absolute;
  left: 21.26%;
  right: 78.61%;
  top: 23.24%;
  bottom: 76.52%;

  background: #935eea;
}
.lines108 {
  position: absolute;
  left: 31.23%;
  right: 68.64%;
  top: 15.66%;
  bottom: 84.1%;

  background: #935eea;
}
.lines109 {
  position: absolute;
  left: 64.26%;
  right: 35.61%;
  top: 9.54%;
  bottom: 90.22%;

  background: #935eea;
}
.lines110 {
  position: absolute;
  left: 36.06%;
  right: 63.8%;
  top: 24.46%;
  bottom: 75.29%;

  background: #935eea;
}
.lines111 {
  position: absolute;
  left: 29.05%;
  right: 70.82%;
  top: 28.6%;
  bottom: 71.16%;

  background: #935eea;
}
.lines112 {
  position: absolute;
  left: 25.95%;
  right: 73.91%;
  top: 19.5%;
  bottom: 80.26%;

  background: #e0d4ff;
}



